nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0px;
    /* background-color:  #c1b8d8;; */
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px;
    margin-left: 0px;
    justify-content: space-between;
    /* background-color:  #c1b8d8; */
}

#homeNav{
    color: #7a4a84;
}

.main-nav a {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    padding: 8px;
    border-radius: 3px;
    /* background-color: #c1b8d8; */

    /* style */
    color: black;
    text-decoration: none;
}

.main-nav img {
    height: 100px;
}

.show{
    visibility:hidden;
}

.normal {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    padding: 8px;
    border-radius: 3px;

    /* style */
    color: black;
    text-decoration: none;
}